/* variaveis - escopo global */
:root{
    --color-blue: #002;
    --color-light: #f4f4f4;
    --bg-gradient:linear-gradient( to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .3));
}

/* reset css - asterisco representa tds as tags que estão na página - tds esarão essas regras*/
*{
   font-family: "Poppins","sans-serif"; 
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
}
.container{
   width: 100%;
   height: 100vh;
   color: var(--color-light);
   background-repeat:no-repeat; /*faz com q o fundo não repitad */
    background-size: cover; /*faz com que a imagem ocupa td o container */
    background-position: 50%;
    background-attachment: fixed;
    padding: 0 1.875rem;
    /*Para o font size 2em, no header title, poder pehar, poderia colocar no header page tbm*/
    /*font-size: 15px;*/
    
}

.bg-blue{
    background-color: var(--color-blue);

}

.bg-image-1{
    background-image: var(--bg-gradient), 
    url(../images/pexels-thorsten-technoman-109353-338504.jpg);
    
}

.bg-image-2{
    background-image: var(--bg-gradient);
    background-image: url(../images/pexels-pixabay-262047.jpg);
}

.header-page{
    width: 100%;
    height: 6.25rem;
    display: flex;
    align-items: center;
    /* para deixar o h2 de um lado e a li pro outro */
    justify-content: space-between; 
}
.header-page-menu ul{
    display: flex;
    gap: 30px;
}
.header-title{
    font-size: clamp(26px,4vw,5rem);
    /*rever vmin, vmax, vh, vw, clamp(), em, rem*/

    & .logo-span{
        background-color: var(--color-blue);
        border-radius: 5px;
    }
}

.hero{
    
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*nESTING css - forma para montar o código css mai sclaro e direto ao invesde usar .hero p*/
    & h2{
        font-size: clamp(22px,3vw,3.2rem);
        text-transform: uppercase;
    }
    & p{
        font-weight: 600;
        text-align: center;
        width: 60%;
        /*para controlar a quantiddae por linha, para que nunca fique uma unica palavra sozinha numa linha*/
        text-wrap: balance;
    }
}

.btn{
    background-color: var(--color-blue);
    padding: .8rem 3rem;
    border-radius: 8rem;
    border: 1px solid var(--color-light);
    transition: .5s;

    &:hover{
        background-color: transparent;
    }
}